<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/icon.png" type="image/png">
    <title>Popcorn</title>
    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/media_query.css">


    <!--
    - google font link
  -->
    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
</head>

<body>




    <!--
    - main container
  -->
    <div class="container1">

        <!--
      - #HEADER SECTION
    -->

        <header class="">
            <div class="navbar1">

                <!--
          - menu button for small screen
        -->
                <button class="navbar1-menu-btn">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>
                <!--the button to show the menu , three dashes
-->

                <a href="#" class="navbar1-brand">
                    <img src="/images/logo.png" alt="">
                </a>

                <!--
          - navbar navigation
        -->

                <nav class="">
                    <ul class="navbar1-nav">

                        <li> <a href="/" class="navbar1-link">Home</a> </li>
                        <li> <a href="/movies" class="navbar1-link">Movies</a> </li>
                        <!-- <li> <a href="/series" class="navbar1-link  ">TV Show</a> </li> -->
                        <li> <a href="movies.html" class="navbar1-link">My List</a> </li>
                    </ul>
                </nav>

                <!--
          - search and sign-in
        -->

                <div class="navbar1-actions">

                    <form action="#" class="navbar1-form">
                        <input id="search-input" type="text" name="search" placeholder="I'm looking for..." class="navbar1-form-search">

                        <button class="navbar1-form-btn" id="button">
              <ion-icon name="search-outline"></ion-icon>
            </button>

                        <button class="navbar1-form-close">
              <ion-icon name="close-circle-outline"></ion-icon>
            </button>
                    </form>


                    <!--
            - search button for small screen
          -->

                    <button class="navbar1-search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>

                    <a href="#" class="navbar1-signin">
                        <figure>
                            <img src="/images/popcorn.png" style="width: 50px;height:50px">
                            <figcaption style="font-size: 10px; padding-left:3px; ">My Profile</figcaption>
                        </figure>

                    </a>

                </div>

            </div>
        </header>





        <!--
      - MAIN SECTION
    -->
        <main>

            <!--
        - #BANNER SECTION
      -->
            <div class="container">
                <div class="slider-container">

                    <%   result.forEach(function(e){%>
                        <div class="slider">
                            <section class="banner">
                                <div class="banner-card">
                                    <img class="banner-img" src="<%=e.img_url %>">
                                    <div class="card-content">
                                        <div class="card-info">
                                            <div class="genre">
                                                <ion-icon name="film"></ion-icon>
                                                <span><%=e.genre %></span>
                                            </div>
                                            <div class="year">
                                                <ion-icon name="calendar"></ion-icon>
                                                <span><%=e.year %></span>
                                            </div>
                                            <div class="duration">
                                                <ion-icon name="time"></ion-icon>
                                                <span><%=e.runtime %></span>
                                            </div>
                                            <div class="quality">
                                                <%=e.rating %>
                                            </div>
                                        </div>
                                        <h2 class="card-title">
                                            <%= e.title  %>
                                        </h2>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <% }) %>


                            <div class="prev-button" onclick="plusSlide(-1)">&#10094;</div>
                            <div class="next-button" onclick="plusSlide(1)">&#10095;</div>
                            <div class="lines">
                                <div class="line" onclick="currentSlide(1)"></div>
                                <div class="line" onclick="currentSlide(2)"></div>
                                <div class="line" onclick="currentSlide(3)"></div>
                                <div class="line" onclick="currentSlide(4)"></div>



                            </div>
                </div>
            </div>




            <!--
      you might like
      -->

            <section class="movie-list-container">
                <h1 class="movie-list-title section-heading" style="margin-bottom: -25px">You Might Like</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <%   result2.forEach(function(e){%>

                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="<%=e.img_url;%>" alt=" ">
                                <span class="movie-list-item-title "> <%= e.title  %></span>
                                <p class="movie-list-item-desc ">
                                    <%= e.description  %>
                                </p>
                                <button class="movie-list-item-button ">Watch</button>
                            </div>
                            <% }) %>
                    </div>
                    <div class="arrow ">&#10095;</div>
                </div>
            </section>









            <!--
        - #CATEGORY SECTION
      -->
            <section class="category " id="category ">

                <h2 class="section-heading ">Category</h2>

                <div class="category-grid ">
                    <a href="/category/action">
                        <div class="category-card " id="Action">
                            <img src="/images/action.jpg " alt=" " class="card-img ">
                            <div class="name ">Action</div>
                            <div class="total ">100</div>
                        </div>
                    </a>
                    <div id="Comedy" class="category-card ">
                        <img src="/images/comedy.jpg " alt=" " class="card-img ">
                        <div class="name ">Comedy</div>
                        <div class="total ">50</div>
                    </div>

                    <div id="Thriller" class="category-card ">
                        <img src="/images/thriller.webp " alt=" " class="card-img ">
                        <div class="name ">Thriller</div>
                        <div class="total ">20</div>
                    </div>

                    <div id="Horror" class="category-card ">
                        <img src="/images/horror.jpg " alt=" " class="card-img ">
                        <div class="name ">Horror</div>
                        <div class="total ">80</div>
                    </div>

                    <div id="Adventure" class="category-card ">
                        <img src="/images/adventure.jpg " alt=" " class="card-img ">
                        <div class="name ">Adventure</div>
                        <div class="total ">100</div>
                    </div>

                    <div id="Animation" class="category-card ">
                        <img src="/images/animated.jpg " alt=" " class="card-img ">
                        <div class="name ">Animation</div>
                        <div class="total ">50</div>
                    </div>

                    <div id="Crime" class="category-card ">
                        <img src="/images/crime.jpg " alt=" " class="card-img ">
                        <div class="name ">Crime</div>
                        <div class="total ">20</div>
                    </div>

                    <div id="SCI-FI" class="category-card ">
                        <img src="/images/sci-fi.jpg " alt=" " class="card-img ">
                        <div class="name ">SCI-FI</div>
                        <div class="total ">80</div>
                    </div>

                </div>

            </section>






        </main>





        <!--
      - FOOTER SECTION
    -->
        <footer>

            <div class="footer-content ">





            </div>


            <div class="footer-copyright ">



                <div class="social-link ">

                    <a href="# ">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                    <a href="# ">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                    <a href="# ">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="# ">
                        <ion-icon name="logo-youtube"></ion-icon>
                    </a>
                    <a href="# ">
                        <ion-icon name="mail"></ion-icon>
                    </a>

                </div>
                <div class="copyright ">
                    <p>&copy; copyright 2022 Popcorn</p>
                </div>



                <!--     <div class="wrapper ">
               <a href="# ">Privacy policy</a>
               <a href="# ">Terms and conditions</a>
             </div>-->

            </div>

        </footer>

    </div>





    <!--
    - custom js link
  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="/js/main.js "></script>

    <!--
    - ionicon link


  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>