<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie page</title>

    <!-- link to css -->
    <link rel="stylesheet" href="/css/moviepage.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/media_query.css">

    <!-- fav Icon -->
    <link rel="shortcut icon" href="images/fav-icon.png" type="image/x-icon">

    <!-- box Icon -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>


    <div class="container1">
        <!--
      - #HEADER SECTION
    -->

        <header class="">
            <div class="navbar1">

                <!--
      - menu button for small screen
    -->
                <button class="navbar1-menu-btn">
      <span class="one"></span>
      <span class="two"></span>
      <span class="three"></span>
    </button>
                <!--the button to show the menu , three dashes
-->

                <a href="/Home" class="navbar1-brand">
                    <img src="/images/logo.jpg" alt="" width="20px" height="20px">
                </a>

                <!--
      - navbar navigation
    -->

                <nav class="">
                    <ul class="navbar1-nav">

                        <li> <a href="/Home" class="navbar1-link">Home</a> </li>
                        <li> <a href="/movies" class="navbar1-link">Movies</a> </li>
                        <!-- <li> <a href="/series" class="navbar1-link  ">TV Show</a> </li> -->
                        <li> <a href="/mylist" class="navbar1-link">My List</a> </li>
                    </ul>
                </nav>

                <!--
      - search and sign-in
    -->

                <div class="navbar1-actions">

                    <form action="#" class="navbar1-form">
                        <input id="search-input" type="text" name="search" placeholder="I'm looking for..." class="navbar1-form-search">

                        <button class="navbar1-form-btn" id="button">
          <ion-icon name="search-outline"></ion-icon>
        </button>

                        <button class="navbar1-form-close">
          <ion-icon name="close-circle-outline"></ion-icon>
        </button>
                    </form>


                    <!--
        - search button for small screen
      -->

                    <button class="navbar1-search-btn">
        <ion-icon name="search-outline"></ion-icon>
      </button>

                    <a href="/Profile " class="navbar1-signin2">


                        <img src="/images/profile.png">


                    </a>
                    <a href="/Popcorn" class="navbar1-logout">
                        <ion-icon name="log-out-outline" size="large"></ion-icon>


                    </a>
                </div>

            </div>
        </header>

        <% result.forEach(function(e){%>
            <div class="play-container container">

                <!-- movie image -->
                <img src="<%=e.img_url %>" alt="" class="play-img">
                <!-- movie title -->
                <div class="play-text">
                    <h2>
                        <%=e.title %>
                    </h2>
                    <!-- movie rating -->
                    <div class="rating">
                        <ion-icon name="star-outline"></ion-icon>
                        <span><%=e.rating %></span>
                    </div>
                    <!-- <div class="rating">
                <div class="rate">
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                </div>
            </div> -->
                    <!-- tags -->
                    <div class="tags">
                        <span><%=e.genre %></span>
                        <span><i class='bx bx-movie'></i><%= e.title  %></span>
                        <span><i class='bx bxs-time'></i> <%= e.runtime  %>  </span>
                        <span><i class='bx bx-smile' ></i><%=e.year %></span>
                        <span><i class='bx bx-world'></i><%=e.countries %></span>
                    </div>

                </div>
                <!--video container-->
            </div>
            <!-- About -->
            <div class="about-movie container">
                <h2>
                    <%= e.title  %>
                </h2>
                <p>
                    <%= e.description  %>
                </p>

                <div class="info">
                    <!-- Movie cast-->
                    <div>
                        <h2 class="cast-heading">Cast</h2>
                        <p>
                            <%= e.actors  %>
                        </p>
                        <!-- <p>Jannis Niewöhner</p>
        <p>Vanessa Hudgens</p>
        <p>Kimiko Glenn</p>        
        <p>Vanessa Hudgens</p>
        <p>Kimiko Glenn</p> -->

                    </div>
                    <!-- Movie cast-->
                    <div>
                        <h2 class="cast-heading">Director</h2>
                        <p>
                            <%= e.directors  %>
                        </p>
                    </div>
                </div>

                <% }) %>
            </div>



            <footer>

                <div class="footer-content">





                </div>


                <div class="footer-copyright">

                    <div class="social-link ">

                        <a href="# ">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                        <a href="# ">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                        <a href="# ">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                        <a href="# ">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                        <a href="# ">
                            <ion-icon name="mail"></ion-icon>
                        </a>

                    </div>
                    <div class="chart">
                        <a href="/charts">Popcorn Charts</p>
                    </div>
                    <div class="copyright">
                        <p>&copy; copyright 2022 Popcorn</p>
                    </div>



                    <!--     <div class="wrapper">
                   <a href="#">Privacy policy</a>
                        <a href="#">Terms and conditions</a>
                    </div>-->

                </div>

            </footer>
    </div>
    <!-- link to js-->

    <script src="/js/moviepage.js"></script>


    <!--
    - ionicon link


  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>